.chess-view {
	--sidebar-menu-min-width: 150px;
	--move-list-gap: 10px;
}

.chess-view {
	display: flex;
	align-items: flex-start;
	border: 1px solid var(--background-modifier-border);
	overflow: hidden;

	&.no-menu {
		border: none;

		& div.cg-wrap {
			max-width: 100%;
		}

		& .chess-sidebar {
			max-width: 0;
			min-width: 0;
			/* opacity: 0; */
			transform: translateX(-100%);
		}
	}
}

div.cg-wrap {
	
	/* Initial size */
	
	width: 400px;
	resize: horizontal;
	overflow: hidden;
	flex: none;
	min-width: 300px;
	max-width: calc(100% - var(--sidebar-menu-min-width));
	aspect-ratio: 1;
	z-index: 1;

	/* Fix coordinate placement */

	& coords.files {
		bottom: -2px;
		left: 5%;
	}

	& coords.ranks {
		top: -5%;
	}

	/* Toggle coordinate visibility */

	& coords {
		opacity: 0;
	}

	&.chess-show-coords coords {
		opacity: 1;
	}

	& .chess-annotation-icon {
		position: absolute;
		top: -8px;
		right: -8px;
		width: 18px;
		height: 18px;
		z-index: 10;
		/* Fix blurry background */
		box-shadow: 1px 1px 100px rgba(0, 0, 0, 0.2);
	}
}

.chess-sidebar {
	display: flex;
	flex-direction: column;
	height: 100vh;
	flex: 1;
	min-width: var(--sidebar-menu-min-width);
	padding-left: 10px;
	transition: max-width 0.3s ease, 
	            min-width 0.3s ease, 
	            opacity 0.3s ease,
	            transform 0.3s ease;
	overflow: hidden;
	z-index: 0;

	& .chess-sidebar-section {
		display: flex;
		flex-direction: column;
		overflow: auto;
	}
}

.chess-toolbar {
	border-top: 1px solid var(--background-modifier-border);
	margin-top: auto;
	padding-top: 8px;
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	gap: 8px;
}

.chess-turn-text {
	font-weight: 500;
	margin: 8px 0;
}

.chess-move-list {
	display: flex;
	flex-wrap: wrap;
	overflow-y: scroll;
	gap: var(--move-list-gap);
}

.chess-move {
	color: var(--text-muted);
	cursor: pointer;
	font-size: 80%;
	padding: 4px;
	width: calc(50% - var(--move-list-gap));

	&:hover {
		background-color: var(--background-modifier-border);
	}
}

.chess-move-active {
	color: var(--text-normal);
	font-weight: bold;
	background-color: var(--background-modifier-border);
}

.chess-error {
	color: var(--text-error);
	padding: 12px;
	margin: 8px 0;
	border: 2px solid var(--text-error);
	border-radius: 4px;
	font-family: monospace;
	white-space: pre-wrap;
	word-break: break-word;
}

.center-board div.cg-wrap {
	margin: 0 auto;
}