.chesser-container {
	--sidebar-menu-min-width: 150px;
}

.chesser-container {
	display: flex;
	align-items: flex-start;
	border: 1px solid var(--background-modifier-border);

	&.no-menu {
		border: none;

		& div.cg-wrap {
			max-width: 100%;
		}

		& .chess-menu-container {
			display: none;
		}
	}
}

div.cg-wrap {
	
	/* Initial size */
	
	width: 400px;
	resize: horizontal;
	overflow: hidden;
	flex: none;
	min-width: 300px;
	max-width: calc(100% - var(--sidebar-menu-min-width));
	aspect-ratio: 1;

	/* Fix coordinate placement */

	& coords.files {
		bottom: -2px;
		left: 5%;
	}

	& coords.ranks {
		top: -5%;
	}

	/* Toggle coordinate visibility */

	& coords {
		opacity: 0;
	}

	&.chesser-show-coords coords {
		opacity: 1;
	}
}

.chess-menu-container {
	display: flex;
	flex-direction: column;
	height: 100vh;
  flex: 1;
	min-width: var(--sidebar-menu-min-width);
	padding-left: 10px;

	& .chess-menu-section {
		display: flex;
		flex-direction: column;
		overflow: auto;
	}
}

.chess-toolbar-container {
	border-top: 1px solid var(--background-modifier-border);
	margin-top: auto;
	padding-top: 8px;
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	gap: 8px;
}

.chess-turn-text {
	font-weight: 500;
	margin: 8px 0;
}

.chess-move-list {
	display: flex;
	flex-wrap: wrap;
	overflow-y: scroll;
}

.chess-move {
	color: var(--text-muted);
	cursor: pointer;
	font-size: 80%;
	padding: 4px;
	width: 50%;
}

.chess-move-active {
	color: var(--text-normal);
	font-weight: 500;
}

.chess-starting-position-dropdown {
	margin-top: 8px;
	margin-bottom: 12px;
	width: 100%;
}

.chesser-error {
	color: var(--text-error);
	padding: 12px;
	margin: 8px 0;
	border: 2px solid var(--text-error);
	border-radius: 4px;
	font-family: monospace;
	white-space: pre-wrap;
	word-break: break-word;
}

/* Accessory class for centering the board on no-menu view */

.center-board div.cg-wrap {
	margin: 0 auto;
}